@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --poke-red: #E7322F;
    --poke-pink: #E99C9B;
    --poke-white: #EFEFEF;
    --font-color-white: #ffffff;
    --font-color-black: #000000;
    font-family: 'VT323', monospace;

    --row-height: 135px;
}

.body {
    background-image: url("./assets/grid-background.png");
    background-position: center;
    background-repeat: repeat;
    height: 100vh;
    width: 100vw;
}

.title-bar {
    background-color: var(--poke-red);
    height: 10vh;
    max-height: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 10px solid #000000;
}

.title {
    font-size: 8vh;
    color: var(--font-color-white);
    text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
}

.row {
    width: 100vw;
    height: 90vh;
    display: flex;
    padding-left: 2.4%;
    padding-right: 2.4%;
    padding-top: 5vh;
    padding-bottom: 5vh;
    justify-content: space-between;
}

.column {
    height: 100%;
    max-height: 100%;
    width: 48.75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.poke-name-outer {
    background-color: var(--poke-red);
    height: 10%;
    min-height: fit-content;
    width: 100%;
    min-width: fit-content;
    border: 5px solid #000000;
    padding-left: 12.6%;
    padding-right: 12.6%;
}

.poke-name-inner {
    background-color: var(--poke-white);
    height: 100%;
    min-height: fit-content;
    width: 100%;
    min-width: fit-content;
    border: 5px solid var(--poke-pink);
    display: flex;
    justify-content: center;
    align-items: center;
}

.poke-name-text {
    color: var(--font-color-black);
    font-size: 5vh;
    text-align: center;
}

.pokemon-images {
    width: auto;
    height: 100%;
}

.pokemon-image-active {
    display: block;
    width: 100%;
    height: 100%;
}

.pokemon-image-inactive {
    display: none;
    width: 100%;
    height: 100%;
}

.evolution {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--poke-red);
    border: 5px solid black;
}

.evolution-header {
    background-color: var(--poke-white);
    /* height: 100%; */
    width: 100%;
    border: 5px solid var(--poke-pink);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--font-color-black);
    font-size: 4vh;
    text-align: center;
}

.evolution-element {
    color: var(--font-color-white);
    font-size: 2.5vh;
    text-align: center;
}

.list-outer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 5px solid #000000;
}

.list-btns-row {
    width: 100%;
    height: 10%;
    display: flex;
}

.list-btn-outer {
    width: 25%;
    height: 100%;
    /* background-color: var(--poke-red); */
    /* border: 5px solid #000000; */
    display: flex;
    justify-content: center;
}

.list-btn-inner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--poke-white);
    border: 5px solid var(--poke-pink);
}

.list-btn-text {
    text-align: center;
    font-size: 32px;
}

.list-content-row {
    display: flex;
    width: 100%;
    height: 90%;
    background-color: var(--poke-white);
}

.list-content-div {
    width: 100%;
    height: 90%;
    background-color: var(--poke-white);
}

.list-content-inject {
    width: 100%;
    height: 90%;
    overflow-y: auto;
}

.list-content-inject a {
    background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    padding: 2px; /* Add some padding */
}

.list-content-inject a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
}

.list-element {
    display: flex;
}

.list-sidebar {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--poke-red);
}

.pokeball {
    height: 75%;
}

.pokeball-hidden {
    height: 75%;
    filter: brightness(0%);
}

.list-button {
    width: 75%;
    display: flex;
    gap: 25%;
    font-size: 48px;
    color: var(--font-color-black);
}

.pokemon-search {
    width: 100%;
    height: 10%;
    background-color: var(--poke-white);
    border: 5px solid var(--poke-pink);
    font-size: 48px;
}


@media screen and (max-width: 768px) {
    .row {
        flex-direction: column;
        gap: 1em;
    }

    .column {
        width: 100%;
    } 
}
